<div ui-content-for="title">
    <span translate>TITLE_APP_CONFIG</span>
</div>
<div class="scrollable-content">
    <style>
        .scrollable-content > div {
            padding: 5px 0px 5px 0px;
        }
    </style>
    <div>
        <span translate="APP_CONFIG_LANGUAGE"></span>
        <span class="btn-group">
            <a href class="btn btn-default no-outline no-focus" ng-click="changeLanguage('de')" ng-class="[currentLang === 'de' ? 'active' : '']">
                <span translate="BUTTON_LANG_DE"></span>
            </a>
            <a href class="btn btn-default no-outline no-focus" ng-click="changeLanguage('en')" ng-class="[currentLang === 'en' ? 'active' : '']">
                <span translate="BUTTON_LANG_EN"></span>
            </a>
        </span>
    </div>
    <div>
        <span>CCU IP/Host:</span>&nbsp;<input type="text" ng-model="ccuIP" />
    </div>
</div>