<div ui-content-for="title">
    <span translate>TITLE_BATTERY_CHECK</span>
</div>

<div class="scrollable-content">
    <div class="list-group battery-checklist" ng-hide="loading">
        <div ng-repeat="state in deviceStates | orderBy:'name'" class="list-group-item battery-checklist-item">
            <span class="config-list-item-state">
                <i class="fa" ng-class="[state.lowBat==true?'fa-close red ':'fa-check green']"></i>
            </span>
            <span>{{state.name}}</span>
            <ul class="condensed" ng-show="state.channels.length!=0">
                <li class="channel"
                    ng-repeat="channel in state.channels"
                    ng-class="'jmatic_channel_'+channel.propname">
                    <span class="channel_title">{{channel.displayName}}: </span><span class="channel_value">{{channel.value}}</span><span class="channel_unit">{{channel.unit}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div ng-show="loading">
        <i class="fa fa-spinner fa-spin fa-3x centered-loading-spinner"></i>
    </div>
</div>