<div ui-content-for="title">
    <span translate>TITLE_PROGRAMS</span>
</div>

<div class="scrollable-header">
    <div class="section section-break">
        <span class="btn-group" ui-state="programDetails" ui-default="false">
            <a href class="btn btn-default" ui-class="{'active': programDetails}" ui-toggle="programDetails"><span translate="DETAILS"></span></a>
        </span>
    </div>
</div>
<div class="scrollable-content">
    <div ng-show="loading" class="app-content-loading">
        <i class="fa fa-spinner fa-spin centered-loading-spinner fa-3x"></i>
    </div>
    <table class="programs">
        <tbody>
            <tr>
                <th><span translate="NAME"></span></th>
                <th ui-show ="programDetails"><span translate="ID"></span></th>
                <th ui-show ="programDetails"><span translate="DESCRIPTION"></span></th>
                <th></th>
            </tr>
            <tr ng-repeat="prog in programs | orderBy:'name'" ng-hide="loading" class="program">
                <td class="name">{{prog.name}}</td>
                <td class="id" ui-show="programDetails">{{prog.id}}</td>
                <td class="description" ui-show="programDetails">{{prog.desc}}</td>
                <td ng-click="runProgram(prog, this)">
                    <i ng-show="!prog.running" class="fa fa-fw fa-2x fa-play pointable green"></i>
                    <i ng-show="prog.running"  class="fa fa-fw fa-2x fa-spinner fa-spin"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>