<div ui-content-for="title">
    <span>Device State</span>
</div>
<div class="scrollable-header">
    <div class="section section-break">
        <span class="btn-group">
            <a href class="btn btn-default no-outline no-focus" ng-click="loadStates()">
                <i class="fa fa-refresh" ng-class="{'fa-spin': loading}"></i>
            </a>
        </span>
        <span class="btn-group">
            <a href class="btn btn-default no-outline no-focus" ng-click="toggleAndSaveSharedState('showChannelNames')">
                <span ui-hide="showChannelNames">Show</span>
                <span ui-show="showChannelNames">Hide</span>
                Names
            </a>
            <a href class="btn btn-default no-outline no-focus" ng-click="toggleAndSaveSharedState('channelsStacked')">
                <span ui-hide="channelsStacked">Stack</span>
                <span ui-show="channelsStacked">Flow</span>
                Layout
            </a>
        </span>
        <span>{{lastRefreshTime}}</span>
    </div>
</div>
<div class="scrollable-content">
    <p ng-show="devices.length==0">No registered devices!</p>
    <div class="list-group">
        <span ng-repeat="device in devices | orderBy: 'name'" class="list-group-item device" ng-class="'jmatic_device_'+device.type" ng-show="device.subscribed">
            <div class="device-info">
                <span class="device-name">{{device.name}}</span>
                <span ui-show="showChannelNames" class="device-type label" ng-class="device.type">{{device.type}}</span>
                <span ng-show="loading"><i class="fa fa-spinner fa-spin loading-spinner"></i></span>
            </div>
            <div class="device-state">
                <span class="channel"
                      ng-hide="data.hide"
                      ng-repeat="(propname, data) in device.state"
                      ng-class="[(data.thresholdExceeded==true ? 'threshold' : ''),
                                 (data.changed==true ? 'changed' : '')
                      ]"
                      ui-class="{
                        'flow': channelsStacked==false,
                        'stack': channelsStacked==true,
                      }">
                    <span class=" channel-icon" ng-class="['jmatic_channel_'+data.propTypeName,
                        (propname.startsWith('STATE') && data.unconvertedValue==true ? 'jmatic_channel_OPEN' : ''),
                        (propname.startsWith('STATE') && data.unconvertedValue==false ? 'jmatic_channel_CLOSED' : ''),
                    ]"></span>
                    <span ui-show="showChannelNames" class="channel_title">{{data.displayName}}: </span>
                    <span class="channel_value">{{data.value}}</span>
                    <span class="channel_unit">{{data.unit}}</span>
                </span>
                <span ng-show="device.state==null">
                    <span>No data fetched yet!</span>
                </span>
            </div>
        </span>
    </div>
</div>