<div ui-content-for="title">
    <span>Device Config</span>
</div>
<div class="scrollable-header">
    <div class="section section-break">
        <span class="btn-group">
            <a href class="btn btn-default" ng-class="[listOrder=='name' ? 'active' : '']"  ng-click="setListOrder('name')">Name</a>
            <a href class="btn btn-default" ng-class="[listOrder=='type' ? 'active' : '']" ng-click="setListOrder('type')">Type</a>
        </span>
        <span class="btn-group" ui-state="showIds" ui-default="false">
            <a href class="btn btn-default" ui-class="{'active': showIds}" ui-toggle="showIds">IDs</a>
        </span>
    </div>
</div>
<div class="scrollable-content">
    <div class="list-group" ng-hide="loading">
        <span ng-repeat="device in devices | orderBy: listOrder" class="list-group-item pointable" ng-click="toggleSubscription(device.id)">
            <span class="config-list-item-state">
                <i ng-show="device.subscribed" class="fa fa-check green"></i>
            </span>
            <span>{{device.name}}</span>
            <span ui-show="showIds"> ({{device.id}})</span>
            <span class="device-type label" ng-class="device.type">{{device.type}}</span>
        </span>
    </div>
    <div ng-show="loading">
        <i class="fa fa-spinner fa-spin fa-3x centered-loading-spinner"></i>
    </div>
</div>