/* general styles */
.pointable {
    cursor: pointer;
    user-select: none;
}

.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}

.centered-loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  margin-left: -25px;
}

ul.condensed {
    padding-left: 20px;
}

/* to mitigate the zoom-in on input focus un mobile devices */
@media only screen
and (min-device-width:320px)
and (max-device-width:480px)
{
    input:focus {
        font-size: 16px !important;
    }
}

/* angular mobile overrides */
.section-break.section {
    -webkit-box-shadow: 0 -1px rgba(0, 0, 0, .08), 0 1px rgba(0, 0, 0, .07), 0 10px 30px rgba(0, 0, 0, .05);
    box-shadow: 0px -1px rgba(0,0,0,0.08), 0px 1px rgba(0,0,0,0.07), 0px 10px 30px rgba(0,0,0,0.05);
}

.no-outline {
    outline: 0 !important;
}

.no-focus:focus {
    background-color: inherit;
}

/* view styles */
.config-list-item-state {
    width: 15px;
    display: inline-block;
}

.device-type {
    color: inherit !important;
    background-color: lightgray;
}

.device-type.VirtualGroup {
    background-color: yellow;
}

.device-type.Heater {
    background-color: lightcoral;
}

.device-type.WindowSensor {
    background-color: lightgreen;
}

.device-type.Thermostat {
    background-color: lightcyan;
}

.device-type.UserdefinedVirtualGroup {
    background-color: lightsalmon;
}

.green {
    color: green;
}

.red {
    color: red;
}

table.systemVariables {
    padding-left: 20px;
}

table.systemVariables td {
    padding: 0px 3px 0px 3px;
}

table.systemVariables .title {
    text-align: right;
}

table.systemVariables .value {
    text-align: left;
}

.device {
    list-style-type: circle;
}

.device .channel {
    display: inline-block;
    min-width: 100px;
    padding-left: 20px;
}

.device .channel-icon {
    display: inline-block;
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

*[class^="jmatic_channel_ACTUAL_HUMIDITY"], *[class*=" jmatic_channel_ACTUAL_HUMIDITY"] {
    background-image: url("../img/Luftfeuchte.png");
}

*[class^="jmatic_channel_ACTUAL_TEMPERATURE"], *[class*=" jmatic_channel_ACTUAL_TEMPERATURE"] {
    background-image: url("../img/IST-Temp.png");
}

*[class^="jmatic_channel_SET_TEMPERATURE"], *[class*=" jmatic_channel_SET_TEMPERATURE"] {
    background-image: url("../img/SOLL-Temp.png");
}

*[class1="jmatic_channel_BATTERY_STATE"], *[class*=" jmatic_channel_BATTERY_STATE"] {
    background-image: url("../img/Battery.png");
}

*[class1="jmatic_channel_LOWBAT"], *[class*=" jmatic_channel_LOWBAT"] {
    background-image: url("../img/Battery_Alert.png");
}

*[class1="jmatic_channel_OPEN"], *[class*=" jmatic_channel_OPEN"] {
    background-image: url("../img/WindowOpen.png");
}

*[class1="jmatic_channel_CLOSED"], *[class*=" jmatic_channel_CLOSED"] {
    background-image: url("../img/WindowClosed.png");
}

*[class1="jmatic_channel_CONTROL_MODE"], *[class*=" jmatic_channel_CONTROL_MODE"] {
    background-image: url("../img/ControlMode.png");
}

*[class1="jmatic_channel_VALVE_STATE"], *[class*=" jmatic_channel_VALVE_STATE"] {
    background-image: url("../img/Valve.png");
}

.channel_unit {
    padding-left: 1px;
}

.changed {
    font-weight: bold;
}

.threshold {
    color: red;
}